.App {
  background: rgb(17, 20, 28);
  background: linear-gradient(284deg, rgba(17, 20, 28, 1) 0%, rgba(63, 72, 100, 1) 100%);
  width: 100vw;
  height: 100vh;
  color: white;
}

.tuttoschermo {
  height: 100vh;
  margin: 0;
}

.gradient {
  background: rgb(17, 20, 28);
  background: linear-gradient(284deg, rgba(17, 20, 28, 1) 0%, rgba(63, 72, 100, 1) 100%);
  margin: 0;
  padding: 0;
}
.Container {
  padding-left: 0;
}
